<!DOCTYPE html>
<html lang="en">
    <head>
        {% extends 'base.html' %}
        {% block title %}Verify your account{% endblock %}
    </head>
    <body class="bg-dark">
        <div class="container">
            {% block navbar %}
            {% include 'navbar.html' %}
            {% endblock %}
            {% block content %}
            <div class="jumbotron bg-secondary">
                <h1 class="display-4 text-white">Verify your account</h1>
            </div>
                <div class="row justify-content-center">
                    <form method="post">
                        {{ form.csrf_token }}
                        <label for="signup_user"><h2 class="text-white">{{ form.CodeEntry.label }}</h2></label>
                        {{ form.CodeEntry(class="form-control", placeholder="Enter verification code") }}
                        {{ form.verifyButton(class="btn btn-primary") }}}
                    </form>
                </div>
            {% endblock %}
        </div>
</body>
</html>