<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'base.html' %}
    {% block title %}{{ userPage.Username }}'s archive{% endblock %}
</head>
<body class="bg-dark">
    <div class="container">
        {% block navbar %}
        {% include 'navbar.html' %}
        {% endblock %}
        {% block content %}
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="text-light">{{ userPage.Username }}'s Archives</h1>
            </div>
        </div>
        <div class="row">
            {% for post in posts %}
            <div class="col-12">
                <a href="post/{{post._id}}" class=" userLink">
                    <h4>{{ post.Date }} - {{ post.Title}}</h4>
                </a>
            </div>
            {% endfor %}
        </div>
        {% endblock %}
    </div>
</body>
</html>
