<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'base.html' %}
    {% block title %}New Post{% endblock %}
</head>
<body class="bg-dark text-white">
    <div class="container"> 
        {% block navbar %}
        {% include 'navbar.html' %}
        {% endblock %}
        {% block content %}
        <div class="jumbotron bg-secondary text-white"><h1>{{ title }}</h1></div>
        <h3 class="text-white userLink">Author: <a href="#">{{ author }}</a></h3>
        <h3 class="text-white">Date: {{ date }}</h3>
        <h6>Tags: {{ tags }}</h6>
        <p class="text-white">{{ content }}</p>
        {% endblock %}
    </div>
</body>
</html>