<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'base.html' %}
    {% block title %}Edit Profile{% endblock %}
</head>
<body class="bg-dark">
    <div class="container">
        {% block navbar %}
        {% include 'navbar.html' %}
        {% endblock %}
        {% block content %}
        <div class="row">
            <div class="container">
                <form method="post" enctype="multipart/form-data">
                    {{ form.csrf_token }}
                    <label for="username" class="text-light">Username</label>
                    {{ form.username(class="form-control", id="username") }}
                    <label for="email" class="text-light">Email</label>
                    {{ form.email(class="form-control", id="email") }}
                    <label for="bio" class="text-light">Bio</label>
                    {{ form.bio(class="form-control", id="bio") }}
                    <label for="password" class="text-light">Password</label>
                    {{ form.password(class="form-control", id="password") }}
                    <label for="confirmPassword" class="text-light">Confirm Password</label>
                    {{ form.passwordConf(class="form-control", id="confirmPassword") }}
                    {{ form.profilePic(id="profilePic") }}
                    <br>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="none" class="btn btn-danger">Delete Account</button>
                </form>
            </div>
        </div>        
        {% endblock %}
    </div>
</body>
</html>
