<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'base.html' %}
    {% block title %}Edit Profile{% endblock %}
</head>
<body class="bg-dark">
    <div class="container">
        {% block navbar %}
        {% include 'navbar.html' %}
        {% endblock %}
        {% block content %}
        <div class="row">
            <div class="container">
            <form method = "post">
                <label for = "username" class="text-light">Username</label>
                <input type="text" class="form-control" id="username" name="username">
                <label for = "email" class="text-light">Email</label>
                <input type="email" class="form-control" id="email" name="email">
                <label for = "bio" class="text-light">Bio</label>
                <textarea class="form-control" id="bio" name="bio" rows="3"></textarea>
                <label for = "password" class="text-light">Password</label>
                <input type="password" class="form-control" name="password">
                <label for = "confirmPassword" class="text-light">Confirm Password</label>
                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword">
                <br>
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type = "none" class="btn btn-danger">Delete Account</button>
            </form>
        </div>
        {% endblock %}
    </div>
</body>
</html>
