<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'base.html' %}
    {% block title %}
    {% if editMode == False %}
        New Post
    {% else %}
        Edit Post
    {% endif %}
    {% endblock %}
</head>
<body class="bg-dark text-white">
    <div class="container"> 
        {% block navbar %}
        {% include 'navbar.html' %}
        {% endblock %}
        {% block content %}
        {% if editMode == False %}
        <form action="#" method="post">
            {{ form.csrf_token }}
            <div class="form-group">
                <label for="title" class="text-white">Title</label>
                {{ form.title(class="form-control", placeholder="Enter title", required=True) }}
            </div>
            <div class="form-group">
                <label for="tags" class="text-white">Tags</label>
                {{ form.tags(class="form-control", placeholder="Enter tags (comma separated)", required=True) }}
            </div>
            <div class="form-group">
                <label for="content" class="text-white">Content</label>
                {{ form.content(class="form-control", required=True) }}
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        {% else %}
        <form action="#" method="post">
            {{ form.csrf_token }}
            <div class="form-group">
                <label for="title" class="text-white">Title</label>
                {{ form.title(class="form-control", placeholder="Enter title", required=True, value =title) }}
            </div>
            <div class="form-group">
                <label for="tags" class="text-white">Tags</label>
                {{ form.tags(class="form-control", placeholder="Enter tags (comma separated)", required=True, value=tags) }}
            </div>
            <div class="form-group">
                <label for="content" class="text-white">Content</label>
                {{ form.content(class="form-control", required=True, value=content) }}
            </div>
            <div class="bg-secondary">
                <h2 class="text-white">Current body:</h2>
                <p class="text-white">{{ content }}</p>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        {% endif %}
        {% endblock %}
    </div>
</body>
</html>