<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'base.html' %}
    {% block title %}{{ userPage.Username }}'s Profile{% endblock %}
</head>
<body class="bg-dark">
    <div class="container">
        {% block navbar %}
        {% include 'navbar.html' %}
        {% endblock %}
        {% block content %}
        <div class="row mt-4">
            <div class="col-md-6">
                <form method="POST" class="d-flex">
                {% if currentUsr != userPage.Username and currentUsr != None %}
                    {% if isFollowing == False %}
                        <button class="btn btn-primary">Follow</button>
                    {% endif %}
                    {% if isFollowing == True %}
                        <button class="btn btn-danger">Unfollow</button>
                    {% endif %}
                {% endif %}
                </form>
                <a href="/content/profile/{{ userPage.Username }}/archive"><button class="btn btn-info">Archive</button></a>
                {% if currentUsr == userPage.Username %}
                <a href="/content/profile/edit-profile/{{ currentUsr }}"> 
                <button class="btn btn-success">Edit Profile</button></a>
                <a href="/content/profile/create-post/{{ currentUsr }}"> 
                <button class="btn btn-secondary">Create Post</button></a>
                {% endif %}
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-4">
                <div class="card bg-secondary">
                    <div class="card-body">
                        {% if userPage['Profile Picture'] %}
                            <img src="{{ url_for('content.uploaded_pfp', filename='pfp-admin.jpg', userid=userPage._id) }}" class="card-img-top" alt="Profile Picture">
                            <p>{{ url_for('content.uploaded_pfp', filename='pfp-admin.jpg', userid=userPage._id) }}</p>
                        {% else %}
                            <img src="/static/img/default.jpg" class="card-img-top" alt="Profile Picture">
                        {% endif %}
                        <br>
                        <br>
                        <h5 class="card-title text-white">{{ userPage.Username }}</h5>
                        <p class="card-text text-white">{{ userPage.Biography }}</p>
                    </div>
                </div>
                <div class="card mt-3 bg-secondary">
                    <div class="card-body bg-secondary">
                        <h5 class="card-title bg-secondary text-white">Recent Posts</h5>
                        <ul class="list-group list-group-flush bg-secondary">
                        {% if postLen > 0 %}    
                            {%for post in posts%}
                            <li class="list-group-item bg-secondary"><a href="post/{{post._id}}" class="link-light">{{ post.Title }}</a></li>
                            {%endfor%}
                        {% endif %}
                        {% if postLen == 0 %}
                            <li class="list-group-item bg-secondary"><a href="#" class="link-light">No posts yet</a></li>
                        {%endif%}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h1 class="mb-4 text-white" >{{ userPage.Username }}</h1>
                <h2 class="text-white">Recent Activity</h2>
                <ul>
                    <li class="text-white">Posted a new article</li>
                    <li class="text-white">Commented on a post</li>
                    <li class="text-white">Liked a photo</li>
                </ul>
            </div>
        </div>
        {% endblock %}
    </div>
</body>
</html>
