<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'base.html' %}
    {% block title %}Search{% endblock %}
</head>
<body class="bg-dark">
    <div class="container">
        {% block navbar %}
        {% include 'navbar.html' %}
        {% endblock %}
        {% block content %}
            <div class="row">
                <div class="col-12">
                    <form action="#" method="post">
                        <div class="form-group">
                            <h1 class="formtext-center text-light">Search</h1>
                            <div class="col-md-4 col-lg-4 col-xl-4">
                            <div class="input-group">
                            {{ form.csrf_token }}
                            {{ form.search(class="form-control") }}}
                            <div class="input-group-append">
                                <button id="SearchBtn" class="btn btn-primary" onclick="javascript:void(0);">Search</button>
                            </div>
                            </div>
                        </div>
                    </form>
                    {% if search %}
                        <p class="text-white">Search results:</p>
                        <br><br>
                            {% for post in search %}
                            <a href="post/{{post._id}}" class="text-decoration-none">
                                <div class="container bg-secondary">
                                    <h3 class="text-white">{{ post.Title }}</h3>
                                    <h4 class="text-white">Author: {{ post.Author }}</h4>
                                    <h4 class="text-white">Date: {{ post.Date }}</h4>
                                </div>
                            </a>                            
                            {% endfor %}
                            </ul>
                            {% else %}
                        <p class="text-white">No search results found.</p>
                    {% endif %}
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>
</body>
</html>
