<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'base.html' %}
    {% block title %}Search{% endblock %}
</head>
<body class="bg-dark">
    <div class="container">
        {% block navbar %}
        {% include 'navbar.html' %}
        {% endblock %}
        {% block content %}
            <div class="row">
                <div class="col-12">
                    <form action="#" method="post">
                        <div class="form-group">
                            <h1 class="formtext-center text-light">Search</h1>
                            <div class="col-md-4 col-lg-4 col-xl-4">
                                <div class="input-group">
                                    <input id="db_Search" name="search" class="form-control" type="text" placeholder="Search">
                                    <div class="input-group-append">
                                        <button id="SearchBtn" class="btn btn-primary" onclick="javascript:void(0);">Search</button>
                                    </div>
                                </div>
                        </div>
                    </form>
                </div>
            </div>}
        {% endblock %}
    </div>
</body>
</html>