/*page head */


.head h1{
    margin-left:45%;
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: 3em;
}

/*Navbar */
.navbar {
    list-style: none;
    overflow: hidden;
    padding: 1%;
    background-color: #208aae;
}
li{
    display: inline-block;
    margin-left: 15%;
    margin-right: 5%;
    font-size: 1.5em;
    color: #F9EBE0  
}
li:hover{
    text-shadow: #FF312E 1px 0 10px;
}
li a{
    text-decoration: none;
    color: inherit;
    padding-top: 15%;
    padding-bottom: 15%;
}
li a:visited{
    text-decoration: none;
    color: inherit;
}

/* Body */
body{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #373737;
    color: #F9EBE0;
}

.bodytext{
    margin-left: 25%;
    margin-right: 25%;
    background-color: #272727;
    padding: 25px;
    border-radius: .7em;
    font-size: 1.3em;
}


.LoginBox{
    margin-top: 5%;
    margin-left: 35%;
    margin-right: 35%;
    background-color: #272727;
    padding: 25px;
    border-radius: .7em;
    font-size: 1.3em;
}

.LoginBox a {
    color: #F9EBE0;

}
.LoginBox a:visited{
    color: #F9EBE0;
}

.LoginText{
    width: 50%;
    padding:10px;
    margin-bottom: 5%;
}
.BlueBtn{
    padding: 10px;
    font-size: 1.1em;
    background-color: #208aae;
    border-radius: .3em;
    color:#F9EBE0;
    border-color: #1b7391;
}
#signup{
    display: none;
}
#signin{
    display: block;
}

#db_Page{
    margin: auto;
    width: 50%;
    border: 3px black;
    border-style: solid;
    align-items: center;
    display: flex;
    justify-content: center;
    display:block;
}

#db_Page tr{
    padding: 2px;
}

#db_Page th{
    font-size: 2em;
}
#db_Page td{
    padding: 10px;
    font-size: 2em;
    border: 3px black;
    border-style: solid;
}
.DB_Button{
    background-color:#1b7391;
    border: none;
    font: inherit;
    font-size: 30px;
    
}
.DB_Button:focus{
    background-color: #11495c;
    
}

#new_Entry{
    margin-top: 2%;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    background-color: #272727;
    padding: 25px;
    border-radius: .7em;
    font-size: 1.3em;
}

.textBox{
    width:25%;
    height:40px;
}

.selector{
    width: 3%;
    height:40px;
}

#db_Search{
    height: 40px;
    margin-left:45%;
}

