<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'base.html' %}
    {% block title %}Database{% endblock %}
</head>
<body class="bg-dark">
    <div class="container-fluid">
    {% block navbar %}
    {% include 'adminNavbar.html' %}
    {% endblock %}
    {% block content %}
        <div class="row mt-4">
            <div class="col-md-4 col-lg-4 col-xl-4">
                <a href="newEntry/{{ usr }}"><button type="submit" class="btn btn-primary">New Entry</button></a>           
            </div>
            <div class="col-md-4 col-lg-4 col-xl-4">
                <form method="post" action="{{url_for('admin.searchEntry', usr=session['user'])}}">
                <div class="input-group">
                    <input id="db_Search" class="form-control" type="text" name="search" placeholder="Search">
                    <div class="input-group-append">
                        <button id="SearchBtn" class="btn btn-secondary">Search</button>
                    </div>
                </form>
                </div>
            </div>
        </div>
        <div id="db_Page" class="mt-4">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="text-white">Username</th>
                        <th class="text-white">Admin</th>
                        <th class="text-white">ID</th>
                        <th class="text-white">Blog</th>
                        <th class="text-white">Edit</th>
                        <th class="text-white">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in userList %}
                    <tr>
                        <td class="text-white">{{ user.Username }}</td>
                        <td class="text-white">{{ user.Admin }}</td>
                        <td class="text-white">{{ user._id }}</td>
                        <td class="text-white"><a class="userLink" href="{{url_for('content.userHome', currentUsr=session['user'], usr=user.Username)}}">{{ user.Username }}'s Blog</td>
                        <td><a href="editEntry/{{ usr }}/{{ user.Username }}"><button class="btn btn-info">Edit</button></a></td>
                        <form method="Post" action="{{url_for('admin.deleteEntry', usr=session['user'], usrDelete=user.Username)}}">
                        <td><button class="btn btn-danger">Delete</button></td>
                        </form>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
    </div>
    {% endblock %}
</body>
</html>