<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'base.html' %}
    {% block title %}WARNING!{% endblock %}
</head>
<body class="bg-dark">
    <div class="container-fluid">
        {% block navbar %}
        {% include 'adminNavbar.html' %}
        {% endblock %}
        {% block content %}
        <div class="container">
            <h1 class="text-white"> Are you sure you want to delete {{ usrDelete }}?</h1>
            <form method="post">
                {{ form.csrf_token }}
                {{ form.deleteUser(class="btn btn-danger", name="delete") }}
                {{ form.cancelDelete(class="btn btn-success", name="cancel") }}
            </form>
        </div>
        </form>
        {% endblock %}
    </div>
</body>
</html>