<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'base.html' %}
    {% block title %}WARNING!{% endblock %}
</head>
<body class="bg-dark">
    <div class="container-fluid">
        {% block navbar %}
        {% include 'adminNavbar.html' %}
        {% endblock %}
        {% block content %}
        <div class="container">
            <h1 class="text-white"> Are you sure you want to delete {{ usrDelete }}?</h1>
            <form method="post">
                <input type="submit" name="delete" value="Yes" class="btn btn-danger">
                <input type="submit" name="cancel" value="No" class="btn btn-success">
            </form>
        </div>
        </form>
        {% endblock %}
    </div>
</body>
</html>