<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'base.html' %}
    {% block title %}Edit Entry{% endblock %}
</head>
<body class="bg-dark">
    <div class="container-fluid">
        {% block navbar %}
        {% include 'adminNavbar.html' %}
        {% endblock %}
        {% block content %}
        <div id="new_Entry" class="mt-4">
            <div class="container">
            <a href="{{ url_for('admin.database', usr=session['user']) }}"><button id="Return" class="btn btn-secondary m-2">Back to DB</button></a>
            <form class="bg-secondary p-3" action="{{ url_for('admin.newEntry', usr=session['user']) }}" method="POST">    
                <div class="form-group mt-2">
                    <label for="db_Username"><h2 class="text-white">Username:</h2></label>
                    <input id="db_Username" name="username" class="form-control" type="text" placeholder="Username" required value={{ User.Username }}>
                </div>
                <div class="form-group">
                    <label for="db_Email"><h2 class="text-white">Email:</h2></label>
                    <input id="db_Email" name="email" class="form-control" type="text" placeholder="Email" required value={{ User['Email address'] }}>
                </div>
                <div class="form-group">
                    <label for="db_Pass"><h2 class="text-white">Password:</h2></label>
                    <input id="db_Pass" name="password" class="form-control" type="password" placeholder="Password" required>
                </div>
                <div class="form-group">
                    <label for="db_Pass-conf"><h2 class="text-white">Confirm Password:</h2></label>
                    <input id="db_Pass-conf" name="passwordConf" class="form-control" type="password" placeholder="Password" required>
                </div>
                <div class="form-group">
                    <label for="db_admincheck"><h2 class="text-white">Admin:</h2></label>
                    {% if User.Admin == True %}
                    <select class="form-select" name="admin">
                        <option selected>Open this Menu</option>
                        <option value="True" selected>True</option>
                        <option value="False">False</option>
                    </select>
                    {% else %}
                    <select class="form-select" name="admin">
                        <option selected>Open this Menu</option>
                        <option value="True">True</option>
                        <option value="False" selected>False</option>
                    </select>
                    {% endif %}
                </div>

                <button id="Submit" class="btn btn-primary">Submit</button>
            </div>
            <h2 class="text-white">{{ error }}</h2>
        </div>
        </form>
        {% endblock %}
    </div>
</body>
</html>