<div class="row justify-content-between">
    <div class="col-md-6 col-lg-6 col-xl-6">
        <h1 class="text-white">Database</h1>
    </div>
    <div class="col-md-6 col-lg-6 col-xl-6">
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            {% if currentUsr == None %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
            </li>
            {% endif %}
            {% if currentUsr != None %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('auth.logout_r', usr=currentUsr) }}">Logout</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('content.userHome', usr=currentUsr) }}">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('content.search', usr=currentUsr) }}">Search</a>
            </li>
            {% endif %}
            {% if currentUsr == "admin" %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('admin.database', usr=currentUsr) }}">Database</a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>