<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <title>Database</title>
</head>
<body>
    <div class="head">
        <h1>Database</h1>
        <ul class="navbar">
            <a href="/"><li id="uni">Home</li></a>
            <a href="login"><li id="guest">Login</li></a>
            <a href="redirect"><li id="user">Redirect</li></a>
            <a href="database"><li id="user">Database</li></a>
        </ul>
    </div>
    
    
    <div id="db_Broad" style="display: block;">
        <button id="Enter" class="BlueBtn" style="margin-left:10%;" onclick="DB_EntrySwap(this.id);" style="display: block;">New Entry</button>
        <input id="db_Search" class="textBox" type="text" placeholder="Search">
        <button id="SearchBtn" class="BlueBtn" onclick="javascript:void(0);" style="display: inline-block">Search</button>
        <div id="db_Page">
            <table>
                <div>
                <tr>
                    <th>Username</th>
                    <th>2FA</th>
                    <th>Blog URL</th>
                </tr>
                <tr>
                    <td>JohnDoe123</td>
                    <td>Yes</td>
                    <td><a href="javascript:void(0)">Here</a></td>
                </tr>
                </div>
            </table>
        </div>
    </div>
    
    <div id="new_Entry" style="display: none">
        <button id="Return" class="BlueBtn" onclick="DB_EntrySwap(this.id)">Back to DB</button>
        <label><h2>Username:</h2></label>
        <input id="db_Username" class="textBox" type="text" placeholder="Username" required>
        <label><h2>2FA:</h2></label>
        <input id="db_2FA" class="selector" type="checkbox" placeholder="2FA">
        <label><h2>Blog URL:</h2></label>
        <input id="db_Blog" class="textBox" type="text" placeholder="Blog">
        <br>
        <br>
        <button id="Submit"class="BlueBtn" onclick="DB_EntrySwap(this.id)" style="display:block;">Submit</button>
    </div>

</body>
</html>