<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'base.html' %}
    {% block title %}Home{% endblock %}
</head>
<body class="bg-dark">
    <div class="container">
        {% block navbar %}
        {% include 'navbar.html' %}
        {% endblock %}
        {% block content %}
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron jumbotron-fluid bg-secondary">
                    <div class="container">
                        <h1 class="display-4 text-white">Welcome to Sailor's Daily Jill!</h1>
                        <p class="lead text-white">This is a website made by me, using Python, Flask, Bootstrap and a lot of HTML!</p>
                        <p class="lead text-white">This website is a simple blog, where you can post your thoughts and read other people's posts.</p>
                        <p class="lead text-white">You can also search for posts by title, author or content.</p>
                        <p class="lead text-white">You can also edit your posts, delete them or even delete your account.</p>
                        <p class="lead text-white">If you want to see the database, you can do so by clicking the Database button in the navbar, should you have access.</p>
                        <p class="lead text-white">If you want to see the code, you can do so by clicking the GitHub button in the navbar.</p>
                        <div class="text-center">
                            <img src="{{ url_for('static', filename='img/ApplicationLogo.png') }}" class="img-fluid" alt="Flask with a compass inside">
                        </div>
                    </div>
                
            </div> 
        </div>
    </div>
    {% endblock %}
</body>
</html>