<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'base.html' %}
    {% block title %}Home{% endblock %}
</head>
<body class="bg-dark">
        {% block navbar %}
        {% include 'navbar.html' %}
        {% endblock %}
        <div class="container-fluid">
        {% block content %}
            <div class="jumbotron jumbotron-fluid" style="background-color:#266689">
                <div class="container">
                    <h1 class="display-4 text-white text-center">Welcome to Sailor's Daily Jill.</h1>
                    <div class="text-center">
                        <img src="{{ url_for('static', filename='img/Compass.png') }}" class="img-fluid" alt="Flask with a compass inside">
                    </div>
                    <h1 class="display-4 text-white text-center">Your daily dose of the content you want.</h1>
                </div>
            </div>
            <div class="d-flex flex-wrap justify-content-center">
              <div class="p-3 m-3 text-white" style="background-color:#6D6D6D; max-width: 400px;">
                <h3 class="display-4 text-white text-center">No algorithms</h3>
                <p>Escape the droning boredom of algorithmically driven content. Focus on what you want to see, whenever and wherever you want to see it</p>
              </div>
              <div class="p-3 m-3 text-white" style="background-color:#6D6D6D; max-width: 400px;">
                <h3 class="display-4 text-white text-center">Custom Profiles</h3>
                <p>It's your blog. Customize it how you see fit. With custom profile pictures, bios and more, you'</p>
              </div>
              <div class="p-3 m-3 text-white" style="background-color:#6D6D6D; max-width: 400px;">
                <h3 class="display-4 text-white text-center">Open Source</h3>
                <p>No begging for changes needed here. Contributing to open source development helps us keep the internet as free and open as it should be.</p>
              </div>
            </div>            
    {% endblock %}
    </div>
</body>
</html>