<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <title>Login</title>
</head>
<body>
    <div class="head">
        <h1>Login</h1>
        <ul class="navbar">
            <a href="/"><li id="uni">Home</li></a>
            <a href="login"><li id="guest">Login</li></a>
            <a href="redirect"><li id="user">Redirect</li></a>
            <a href="database"><li id="user">Database</li></a>
        </ul>
    </div>
    <div class="LoginBox"  style="display: block;">
        <form action="#" method="post">
            <label><h2>User:</h2></label>
            <input name="signin_username" class="LoginText" type="text" placeholder="Enter Username" required>
            <label><h2>Password:</h2></label>
            <input name="signin_password" class="LoginText" type="password" placeholder="Enter Password" required>
            <br>
            <button class="BlueBtn">Sign In</button>
        </form>
        <h5>Don't have an account? <br><br> <button class="BlueBtn" onclick="location.href='signup'">Sign up</button></h5>
    </div>
</body>
</html>