<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">  
    <script src="js/script.js"></script>
    <title>Login</title>
</head>
<body>
    <div class="head">
        <h1>Login</h1>
        <ul class="navbar">
            <a href="index.html"><li id="uni">Home</li></a>
            <a href="login.html"><li id="guest">Login</li></a>
            <a href="logout.html"><li id="user">Logout</li></a>
            <a href="database.html"><li id="user">Database</li></a>
        </ul>
    </div>
    <div class="LoginBox" id="signin" style="display: block;">
        <label><h2>User:</h2></label>
        <input id="signin_username" class="LoginText" type="password" placeholder="Enter Username" required>
        <label><h2>Password:</h2></label>
        <input id="signin_passord" class="LoginText" type="password" placeholder="Enter Password" required>
        <br>
        <button>Sign In</button>
        <h5>Don't have an account? <br><br> <button onclick="loginSwap()">Sign up</button></h5>
    </div>
    <div class="LoginBox" id="signup" style="display: none;">
        <label><h2>User:</h2></label>
        <input id="signup_user" class="LoginText" type="text" placeholder="Enter Username" required>
        <label><h2>Email:</h2></label>
        <input id="signup_email" class="LoginText" type="password" placeholder="Enter Email" required>
        <label><h2>Password:</h2></label>
        <input id = "signup_email" class="LoginText" type="password" placeholder="Enter Password" required>
        <br>
        <button>Sign Up</button>
        <h5>Already have an account? <button onclick="loginSwap()">Sign in</button></h5>
    </div> 
</body>
</html>