<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="navbar-brand nav-link active" aria-current="page" href="/">Home</a>
            </li>
            {% if currentUsr == None %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
            </li>
            {% endif %}
            {% if currentUsr != None %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('auth.logout_r', usr=session['user']) }}">Logout</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('content.feed', currentUsr=session['user']) }}">Feed</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('content.search', usr=session['user']) }}">Search</a>
            </li>
            {% endif %}
            {% if currentUsr == "admin" %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('admin.database', usr=session['user']) }}">Database</a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/ThomasCross257/SailorsDailyJill">Github</a>
            </li>
        </ul>
    </div>
</nav>