<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="navbar-brand nav-link active" aria-current="page" href="/">Home</a>
            </li>
            {% if currentUsr == None %}
            <li class="nav-item">
                <a class="nav-link" href="login">Login</a>
            </li>
            {% endif %}
            {% if currentUsr != None %}
            <li class="nav-item">
                <a class="nav-link" href="logout/{{ currentUsr }}">Logout</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="profile">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="search/{{ currentUsr }}">Search</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="feed">Feed</a>
            </li>
            {% endif %}
            {% if currentUsr == "admin" %}
            <li class="nav-item">
                <a class="nav-link" href="/admin/database/{{ currentUsr }}">Database</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>